/.ipynb_checkpoints
/dipteraTranslations_processed/Orthofinder/Results_Mar30_3/WorkingDirectory/OrthoFinder_graph.txt
/sonicParaOutput/runs/sonic_3132114450_sensitive_4cpus_ml05/ortholog_groups/mcl_input_graph.txt